*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
keystore/
*.idsig

# companion build artifacts
companion/build/
companion/app/build/
companion/local.properties
companion/.gradle/
companion/build/
